{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title>Todo</title>

      <!-- Bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/todo.css' %}">

</head>

<body>
      <div class="container">

            <h1>My Todo List ✅</h1>

            <!-- Input -->
            <div class="input-area">
                  <input type="text" placeholder="Enter your task...">
                  <button>Add</button>
            </div>

            <!-- Tasks -->
            <div class="tasks">

                  <!-- Pending -->
                  <div class="task-box">
                        <h3>Pending Tasks ⏳</h3>

                        {% for task in pending_tasks %}

                        <form method="POST" action="#" class="task-form">

                              <label class="task">

                                    <input type="checkbox" onchange="this.form.submit()">

                                    <span>{{ task.title }}</span>

                              </label>

                        </form>

                        {% empty %}
                        <p>No pending tasks 🎉</p>
                        {% endfor %}
                  </div>


                  <!-- Completed -->
                  <div class="task-box">
                        <h3>Completed Tasks ✅</h3>

                        {% for task in completed_tasks %}

                        <form method="POST" action="#" class="task-form">

                              <label class="task completed">

                                    <input type="checkbox" checked onchange="this.form.submit()">

                                    <span>{{ task.title }}</span>

                              </label>

                        </form>

                        {% empty %}
                        <p>No completed tasks yet 🙂</p>
                        {% endfor %}
                  </div>


            </div>

      </div>
</body>

</html>